extends ../layouts/hp

block variables
		- var title= "Home"

block content
	include ../sections/header.pug
	include ../sections/section__cover.pug
	include ../sections/section__about.pug
	include ../sections/section__services.pug
	include ../sections/section__realisations.pug
	include ../sections/section__news.pug
	include ../sections/footer.pug