include ../layouts/mixins.pug
section.section.section__cover
    span(id='scroll-top')
    .grid-container.max-height
        .grid-x.align-bottom
            .small-5
                h1.main-heading Lorem ipsum dolor sit amet, consectetur adipiscing
                p.main-subheading Cras at mi elit. Mauris nibh ante, elementum a faucibus a, venenatis id lacus. Curabitur pharetra arcu a dolor imperdiet
                +button('Read More')