include ../layouts/mixins.pug

section.section.section__about.grid-x
    .section__img.small-6.cell
        img(src='../img/section/section__about.jpg')
    .section__content.small-6.cell
        h2.section__heading
            p About
            p dimensions
            span paysage
        p Cras at mi elit. Mauris nibh ante, elementum a faucibus a, venenatis id lacus. Curabitur pharetra arcu a dolor imperdiet, eu lacinia ex finibus. Suspendisse augue est, fermentum pharetra dictum eget, gravida sed nisi.
        +button('Read More', 'button--grey')
