include ../layouts/mixins.pug
section.section.section__realisations
    .group-block
        .wide-block
            .grid-container.full
                .grid-x.align-right
                    .small-5.small-offset-6.cell
                        .section__img
                            img(src='../img/section/section__realisation.jpg')
        .narrow-block
            .grid-container
                .grid-x
                    .small-5.small-offset-1.cell
                        .section__content
                            h2.section__heading
                                p Dimension
                                p paysage
                                span services
                            p.section__text Cras at mi elit. Mauris nibh ante, elementum a faucibus a, venenatis id lacus. Curabitur pharetra arcu a dolor imperdiet, eu lacinia ex finibus. Suspendisse augue est, fermentum pharetra dictum eget, gravida sed nisi.
                            +button('Read More', 'button--grey')