include ../layouts/mixins.pug
section.section.section__realisations.grid-x.align-justify
    .section__content.section__content--left.small-6.cell
        h2.section__heading
            p Dimension
            p paysage
            span services
        p Cras at mi elit. Mauris nibh ante, elementum a faucibus a, venenatis id lacus. Curabitur pharetra arcu a dolor imperdiet, eu lacinia ex finibus. Suspendisse augue est, fermentum pharetra dictum eget, gravida sed nisi.
        +button('Read More', 'button--grey')
    .section__img.small-6.cell
        img(src='../img/section/section__realisation.jpg')