.header{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10;
	padding-top: 15px;
	background: transparent;
	&__logo {
		display: flex;
		align-items: center;
		height: 80px;
	}
	&__top-line{
		position: relative;
	}
	&__top-menu{
		position: absolute;
		top: 0;
		right: 15px;
	}
}
.top-menu {
	&__contacts {
		background-color: $white;
		height: 80px;
		padding: 0 200px 0 30px;
	}
	&__link{
		font-family: $montserrat;
		height: 100%;
		display: inline-flex;
		align-items: center;
		padding-right: 70px;
		&:last-child{
			padding-right: 0;
		}
		&:hover{
			.link__icon{
				fill: darken($black, 20%);
			}
			.link__value{
				color: darken($black, 20%);
				text-decoration: underline;
			}
		}
	}

}
.link{
	&__icon{
		fill: $black;
		transition: fill .4s ease;
	}
	&__value{
		color: $black;
		font-size: 11px;
		letter-spacing:1px;
		margin-left: 20px;
		white-space: nowrap;
		transition: color .4s ease;
	}

}
