//			BUTTONS
.button{
	font-family: 'Montserrat', sans-serif;
	color: $white;
	font-size: 12px;
	position: relative;
	padding: 10px 35px 10px 0;
	&--grey{
		color: $darkText;
		.button__arrow{
			fill: $darkText;
		}
		&.button{
			&::before{
				background-color: #F2F4F6;
			}
		}
	}
	&--news{
		padding: 60px 0 0 30px;
	}
	&::before{
		position: absolute;
		content: '';
		height: 100%;
		width: 85px;
		top: 0;
		right: 0;
		background-color: #83B215;
		transition: width .4s ease;
	}
	&:hover{
		&::before{
			width: 110%;
		}
		.button__arrow{
			transform: translate(5px, -50%);
			&+.button__arrow{
				transform: translate(0, -50%);
				opacity: 1;
			}
		}
	}
	&__text{
		position: relative;
		font-weight: 600;
	}
	&__arrows{
		position: absolute;
		top: 0;
		right: 7px;
		height: 100%;
		width: 20px;
		overflow: hidden;
		display: inline-block;
	}
	&__arrow{
		fill: $white;
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0,-50%);
		transition: transform .4s ease,
		opacity .2s ease;
		&+.button__arrow{
			transform: translate(-15px, -50%);
			opacity: 0;
		}
		
	}
}

//		BURGER MENU
.top-menu__burger{
	height: 80px;
	width: 84px;
	background-color: $black;
	cursor: pointer;
	&:hover{
		span{
			&::before{
				width: 100%;
			}
			&:nth-child(1){
				animation: button 1s ease;
			}
			&:nth-child(2){
				animation: button 1s ease;
				animation-delay: .25s;
			}
			&:nth-child(3){
				animation: button-2 1s ease;
				animation-delay: .35s;
			}
		}
	}
}
.burger{
	margin: auto;
	position: relative;
	width: 18px;
	height: 14px;

	span{
		height: 2px;
		background-color: #DADADA;
		position: absolute;
		left: 0;
		display: block;
		border-radius: 5px;
		transition: all .4s ease;
		&::before{
			position: absolute;
			content: '';
			height: 100%;
			width: 0;
			background-color: $white;
			transition: width .4s ease;
		}

		&:nth-child(1){
			width: 18px;
			top: 0;
		}
		&:nth-child(2){
			top: 6px;
			width: 18px;
		}
		&:nth-child(3){
			top: 12px;
			width: 10px;
		}
	}
}

@keyframes button {
	0%   { width: 18px; }
	50%	 { width: 10px; }
	100% { width: 18px; }
}
@keyframes button-2 {
	0%   { width: 10px; }
	50%  { width: 18px; }
	100% { width: 10px; }
}

.gallery{
	display: flex;
	justify-content: space-between;
	margin: 0 -215px 0 95px;
	&__title{
		font-family: $prata;
		padding: 15px 0 0 30px;
		font-size: 26px;
		color: $black;
		margin: 0;
	}
	&__img{
		max-height: 350px;
		height: auto;
		width: 100%;
		max-width: 350px;
		overflow: hidden;
		transition: transform .4s ease;
		will-change: transform;
		cursor: pointer;
		img{
			min-height: 100%;
			min-width: 100%;
			object-fit: cover;
			transition: transform .4s ease;
			will-change: transform;
		}
		&:hover{
			transform: scale(0.95, 0.95);
			img{
				transform: scale(1.1, 1.1);
			}
		}
	}
}
.slick-slide{
	margin-right: 30px;
}

.news{
	width: 100%;
	&__arrow{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		fill: none;
		stroke: rgba(#9EC73D, 0);
		transition: stroke .4s ease;

	}
	&__item{
		padding: 30px;
		position: relative;
		&:hover{
			background-color: #FBFBFC;
			&::after{
				width: 0;
			}
		}
		&::after{
			position: absolute;
			content: '';
			width: calc(100% - 60px);
			height: 1px;
			left: 30px;
			bottom: 0;
			background-color: #F2F4F6;
		}
	}
	&__date{
		display: block;
		padding-bottom: 10px;
		font-family: $montserrat;
		font-weight: 500;
		color: $black;
		font-size: 11px;
	}
	&__link{
		display: block;
		color: $darkText;
		font-size: 18px;
		font-family: $montserrat;
		line-height: 40px;
		position: relative;
		span{
			opacity: 1;
			transition: opacity .6s ease;
		}
		&::before{
			position: absolute;
			content: attr(data-value);
			color: #9EC73D;
			width: 0;
			overflow-x: hidden;
			transition: width .6s ease;
			white-space: nowrap;
			font-size: 18px;
		}
		&:hover{
			span {
				opacity: 0;
			}
			&::before{
				width: 100%;
			}
			.news__arrow{
				stroke: #9EC73D;
				transition-delay: .2s;
			}
		}
	}
}
.social{
	margin-top: 30px;
	&__icon{
		font-size: 0;
		fill: $white;
		svg{
			border-radius: 50%;
			background-color: rgba(#F2F4F6, .1);
			margin-right: 20px;
			transition: background-color .4s ease;
		}
		&:hover{
			svg{
				background-color: rgba(#F2F4F6, .4);
			}
		}

	}
}
.scroll-button{
	cursor: pointer;
	svg{
		stroke: rgba($white, .4);
		stroke-width: 2px;
		fill: none;
		background-color: rgba($white, .04);
		border-radius: 50%;
		transition: stroke .4s ease,
					background-color .4s ease;
	}
	&:hover{
		svg{
			stroke: rgba($white, .8);
			background-color: rgba($white, .3);
		}
	}
}
.leaf{
	position: absolute;
}