// screen size breakpoints
// duplicating https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints

$breakpoints: (
	  xs: 500px,
	  sm: 576px,
	  md: 768px,
	  lg: 992px,
	  xl: 1200px
);

// color variables

$darkBrown:#4B2502;
$red:#EC1D24;
$cream:#C5B9AC;
$darkGrey:#3E3D3C;
$dark:#1F0F00;

// font variables and mixins

$muli: 'Muli', sans-serif;
$roboto: 'Roboto', sans-serif;
$caslon: 'adobe-caslon-pro', serif;